.nav-items {
  margin: 0 150px;
  display: flex;
  gap: 1000px;
}
.nav-menu,
li {
  color: #252432;
  list-style: none;
  display: inline;
  margin-left: 25px;
  font-size: 20px;
}
.nav-menu-item {
  color: #8987a1;
}
.home {
  font-weight: 700;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.NotoSerif {
  font-family: "Noto Serif";
  font-optical-sizing: auto;
}
.hero-flower-section {
  display: flex;
  margin-top: 221px;
  margin-left: 150px;
  margin-right: 150px;
}
.hero-flower-title{
    font-size: 3rem;
    font-weight: bold;
}
.color-orrange{
    color: #E95A08;
}
